src/less/assets/background-grid.psd
*~
*#
.DS_store
design/govwatch-mock.psd
*pyc

design/close.psd

design/icons.psd

design/govwatch-open.psd

src/bootstrap

design/govwatch-open.png

design/gov-pentagon.psd
