body {
	direction: rtl;
}

#container {
	list-style: none;
}

#header,#search {
    display:block;
    position:fixed;
    top:0;
    background:#fff;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
    -moz-box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
    box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
}


#header {
    height:auto;
	width:20%;
	right:4%;
    z-index:1;
/*     background-image: url(logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
 */}

#search {
    height:15%;
    width:70%;
    left:0;
    z-index:2;
}

    #searchbox {
        font-size:30px;
        width:90%;
        margin-top:25px;
        margin-right:5%;
        padding:3px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
		-webkit-box-shadow: inset 1px 1px 1px 1px rgba(128, 128, 128, 1);
		-moz-box-shadow: inset 1px 1px 1px 1px rgba(128, 128, 128, 1);
		box-shadow: inset 1px 1px 1px 1px rgba(128, 128, 128, 1);
    }

#container {
	display:block;
    position:fixed;
    top:15%;
    overflow: auto;
    height:85%;
}

.item {
	clear: both;
    display: none;
    width:95%;
    background:#f8f8f8;
    margin:10px;
    padding:10px;
    border:solid 1px #f0f0f0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
    -moz-box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
    box-shadow: 0px 3px 5px 2px rgba(192, 192, 192, 0.5);
}

    .item.shown {
        display:inline-block;
     }

	.description {
	    float:right;
	    width:50%;
	    height:100%;
	}
	
		.chapter, .title {
			font-size: 0.8em;
		}
		
		.subject {
			font-size: 1.2em;
			color:#006;
		}
		
		.result-metric {
			font-style: italic;
		}
	
	.status_interaction {
        float:left;
        width:45%;
        padding-right: 5%;
        border-right: solid 1px #ccc;
	}
	
		.status {
		}
		
		.interaction {
		}
	
	.highlight {
	   background-color: yellow;
	}
	
	.highlight-off {
	   background-color: transparent;
       transition-property: background-color;
       transition-timing: 3s;
       -webkit-transition-property: background-color;
       -webkit-transition-duration: 3s;
	}